.no-scale
{
	transform: scale(0.8) !important;
}

.header-text
{
	visibility: hidden;
}

.ScrollReveal-section
{
	visibility: hidden;
}

.ScrollReveal-who
{
	visibility: hidden;
}

.ScrollReveal-card
{
	visibility: hidden;
}

@media (max-width: 767.98px) 
{
	h3
	{
		font-size: 25px !important;
		margin-bottom: 5% !important;
	}
}